body{
    background-color:bisque;
}
#heading1{
    color: darkslategray;
}
#heading2{
    color: darkslategray;
}
#heading3{
    color: darkslategrey;
}
#heading4{
    color: darkslategray;
}
#heading5{
    color: darkslategray;
}
#Introp{
    font-size: x-large;
}
#aboutp{
    font-size: x-large;
}
#dreamcarp{
    font-size: large;
}
